.main-header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    border: 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: black;
}

.home-icon{
    width: 50px;
    height: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.banner-img {
    height: 320px;
    background-image: url(https://picsum.photos/750);
    background-size: cover;
    background-position: center;
}

.contact-form {
    display: flex;
    height: 540px;
}

.content-header {
    text-align: center;
}

.main-container {
    display: flex;
    gap: 24px;
}

.main-item{
    flex: 1;
    text-align: center;
}

form{
    background-color: aliceblue;
}

.our-packages-header{
    background-color: aqua;
    margin-top: 24px;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer{
    margin-top: 24px;
    text-align: center;
}